@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
* {
    font-family: 'Inter', sans-serif;
  }

body {
    font-family: 'Lato', sans-serif;
    color: black;
    background-color: white;
    margin: 0px;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: fixed;
    width: 100%;
    margin-top: 0px; 

  }
 
  .navbar a {
    color: white;
    margin-right: 30px;
    text-decoration: none;
  
  }

.Section {

    margin: 10px 25%;

}

#Rbutton {
    font-size: 10px;
    font-weight: 600;
    padding: 5px 5px;
    color: #FFF;
    background-color: black;
    text-align: center;
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"] 
{
    width: 100%;
  
}

label{
    margin-top: 5px;
}

table{
    width: 100%;
    border: 1px solid black;  
    border-collapse: collapse;  
}
.nest1{
    margin: 5px 0px;
}
.nest2{
    padding: 10px;
}
